* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    width: 80%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', serif;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    user-select: none;
  }
  
  
  section {
    padding: 0 100px;
    background-color: rgba(0, 0, 0, .75);
  }
  
  h3 {
    color: antiquewhite;
    font-family: 'Syncopate', sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  
  /* CONTENT */
  
  /* NAV BAR */
  
  .nav-bar {
  
    position: fixed;
    top: 20px;
    width: 100%;
    height: 70px;
    padding: 0 100px;
    color: silver;
    z-index: 999;
  }
  
  .nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px silver;
  
  }
  
  .nav-bar-items {
    position: relative;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: silver;
    filter: brightness(75%);
  }
  
  .nav-bar-items:hover {
    filter: brightness(200%);
  }
  
  .nav-bar-logo-text {
    font-family: 'Syncopate', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .nav-bar-logo-text p:first-child {
    text-transform: lowercase;
    font-size: 125%;
    color: blueviolet;
  }

  
.underline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #f5f5f5;
    transform-origin: center;
    transition: transform 0.5s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

/* CLIENTS PAGE */


.clients {
    position: relative;
    width: 100%;
    padding-top: 150px;
    height: 100vh;
    background-image: url('../pictures/clients-background.png');
}

.clients-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../pictures/clients-background.png');
    filter: brightness(50%);
}

.clients-page-title {
    display: inline-block;
    line-height: 50px;
    filter: brightness(80%);
    transition: ease-in-out 0.5s;
}

.clients-page-title:hover {
    filter: brightness(200%);
    filter: drop-shadow(0 0 20px silver);
}

.clients-page-title-underline {
    background-color: #C78030;
    filter: brightness(80%);
    width: 90%;
    height: 1px;
}

.clients-vertical-line {
    position: absolute;
    margin-left: 250px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #C78030;
    filter: brightness(80%);
}

.client-page-content {
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 250px;
}

.clients-subsection-default {
    position: absolute;
    display: flex;
    width: 70%;
    margin-left: 10%;
    left: 250px;
    transition: ease-in-out 0.5s;
}

.clients-subsection-default svg path {
    fill: silver;
    filter: brightness(80%);
    transition: 1s;
}

.clients-subsection-default svg path:hover {
    filter: brightness(800%);
    filter: drop-shadow(0 0 20px silver);}

.clients-subsections-titles {

    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    color: silver;
}

.clients-subsections-titles div {
    filter: brightness(80%);
    letter-spacing: 2px;
    transition-duration: 1.5s;
}

.clients-subsections-titles div:hover {
    filter: brightness(200%);
    letter-spacing: 3px;
    filter: drop-shadow(0 0 20px silver);}

.clients-subsections-titles p::first-letter {
    font-size: 200%;
}

.clients-subsections-titles>* {
    margin-left: 40px;
    text-transform: capitalize;
}

.clients-subsection-container {
    position: relative;
    width: 70%;
    max-height: 400px;
    visibility: hidden;
    opacity: 0;
}

.container1,
.container2,
.container3 {
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 1.5s;
}

.clients-page-content-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
    visibility: hidden;
    opacity: 0;
    transition: 1.5s ease-in-out;
}

.scroll-button {
    width: 50px;
    height: 50px;
    border: solid 1px silver;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    transition-duration: 1.5s;
    filter: contrast(150%) brightness(50%);
    filter: drop-shadow(16px 16px 20px silver) invert(50%);
    align-items: center;
    justify-content: center;
}

.clients-page-content-button-up {
    margin-bottom: 20px;
}

.arrow-up {
    height: 0;
    width: 0;
    border: solid 7px transparent;
    border-bottom: solid 7px silver;
    margin-bottom: 12.5px;
}

.arrow-down {
    height: 0;
    width: 0;
    border: solid 7px transparent;
    border-top: solid 7px silver;
    margin-top: 12.5px;
}

.scroll-button:hover {
    filter: contrast(150%) brightness(200%) saturate(4);
}

.corporate.clients-subsections-titles-click {
    filter: brightness(200%);
    letter-spacing: 3px;
}

.folk.clients-subsections-titles-click {
    filter: brightness(200%);
    letter-spacing: 3px;
}

/* CLIENTS LOGO SECTION */

.clients-logo-containter {
    min-width: 40%;
    overflow: hidden;
    margin-left: 0;
}

.clients-logo-containter svg path {
    fill: silver;
    filter: brightness(80%);
    transition: 1s;
}

.clients-logo-containter svg path:hover {
    filter: brightness(200%);
    filter: drop-shadow(0 0 30px silver);    /* filter: drop-shadow(16px 16px 20px silver); */
}

.subsection-container-vertical-line {
    height: 80%;
    margin: 5% 40px 0 40px;
    width: 1px;
    background-color: #C78030;
    filter: brightness(80%);
}

.clients-logo-containter svg:hover~.subsection-container-vertical-line {
    filter: brightness(200%);
}

.subsection-container-text {
    color: silver;
    line-height: 30px;
    overflow: hidden;
    transition-delay: 1s;
    transition: ease-in-out 3.5s;
}

.meji-text span {
    border-radius: 25%;
}

.meji-text span:hover {
    filter: brightness(200%);
    filter: drop-shadow(0 0 20px silver);}

/* FOLKS SUBSECTION */

.clients-folks-page {
    display: flex;
    max-height: 200px;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 200px);
    margin-left: 125px;
    top: 15%;
    align-items: center;
    color: silver;
}

.folks-1,
.folks-2,
.folks-3 {
    position: absolute;
    top: 50px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    color: silver;
}

.folks-image{
    height: 270px;
    width: 270px;
    overflow: hidden;
    display: inline-block;
}

.folks-image img {
    height: 270px;
    width: auto;
    margin: 0 auto;
    border-radius: 5px;
}

.folks-opinion {
    height: 88;
    margin-top: 30px;
}

.folks-opinion p{
    font-size: 35px;
    font-family: 'Montserrat', serif;
    margin-bottom: 40px;
}

.folks-name{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Syncopate', serif;
    letter-spacing: 4px;
    word-spacing: 4px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.folks-position{
    font-size: 18px;
}

.folks-buttons {
    display: flex;
    margin-top: 200px;
    width: 50%;
    justify-content: space-between;
    bottom: 10px;
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.folks-button-left {
    width: 0;
    height: 0;
    border: solid 10px transparent;
    border-right: solid 40px rgba(192, 192, 192, 0.7);
    border-radius: 5px;
    filter: brightness(75%);
    transition: ease-in-out 0.5s;
}
 
.folks-button-right{
    width: 0;
    height: 0;
    border: solid 10px transparent;
    border-left: solid 40px rgba(192, 192, 192, 0.7);
    border-radius: 5px;
    filter: brightness(75%);
    transition: ease-in-out 0.5s;
}

.folks-buttons div:hover {
    filter: brightness(200%);
    transform: scale(1.05);
    filter: drop-shadow(0 0 30px silver);
}