* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

img {
    width: 80%;
    height: auto;
}

a {
	text-decoration: none;
}

svg {
	width: 100%;
	height: 100%;
}

body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', serif;
    background-color: rgb(0, 0, 0);
    /* max-width: 1920px; */
    height: 2000px;
    z-index: -1;}


section {
    padding: 0 100px;
    background-color: rgba(0,0,0,.75);
}

h3 {
    color: antiquewhite;
    font-family: 'Syncopate', sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}


/* CONTENT */

/* NAV BAR */

.nav-bar {

    position: fixed;
    top: 20px;
    width: 100%;
    max-width: 1720px;
    height: 70px;
    padding: 0 100px;
    background-color: rgba(19, 18, 18, 0.849);
}

.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	border-bottom: solid 2px rgb(33, 33, 33);

}

.nav-bar-items {
	position: relative;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    color: antiquewhite;

}

.nav-bar-logo-text {
    font-family: 'Syncopate', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-bar-logo-text p:first-child {
    text-transform: lowercase;
    font-size: 125%;
    color: blueviolet;
        
}

#light-dark-switch {
    position: relative;
    width: 76px;
    height: 38px;
    border: solid 0.2px antiquewhite;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.settings-wheel {
	width: 24px;
	height: 24px;
	z-index: 2;
}

.light-dark-switch-scroll {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: antiquewhite;
    border-radius: 50%;
    z-index: 1;
    right: 0;
}

.light-dark-switch-scroll-click {
	position: absolute;
	width: 38px;
	height: 38px;
	background-color: black;
	border-radius: 50%;
	z-index: 1;
	right: 50%;
}

.light-dark-switch-sun {
	z-index: 2;
	width: 22px;
	height: 22px;
}

.light-dark-switch-sun svg {
    fill: antiquewhite;
}

.light-dark-switch-moon {
	/* <<<<<<< feature/Home-Page */
	z-index: 2;
	width: 24px;
	height: 24px;
}

.light-dark-switch-moon svg {
	fill: black;
}

#settings-wheel {
	width: 24px;
	height: 24px;
}

/* HOME PAGE */

.home-page-container {
    position: relative;
    height: 85vh;
    max-height: 1209px;
    padding: 0 100px;
    margin-bottom: 70px;
}

.home-content {
    margin-top: 200px;
    height: auto;
    width: 100%;
    border-bottom: solid 1px blueviolet;
}

.home-content-textline-container {
    width: 100%;
    height: 75px;
    display: flex;
    color: antiquewhite;
    justify-content: space-around;
    margin: auto;
}

.home-content-textline {
	font-size: 72px;
	font-weight: bold;
}

.home-content-textline-empty {
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: antiquewhite;
	color: rgba(0, 0, 0, 0);
}

.home-content-image-container {
	background-image: url(../pictures/home-page-image.png);
	width: 100%;
	height: 100%;
	max-height: 425px;
	margin-top: 70px;
	position: relative;
}

img.glitter-star {
	position: absolute;
	height: 10px;
	width: 10px;

	animation: glitter 2s linear 0s infinite normal;
	-webkit-animation: glitter 2s linear 0s infinite normal;
	-moz-animation: glitter 2s linear 0s infinite normal;
	-ms-animation: glitter 2s linear 0s infinite normal;
	-o-animation: glitter 2s linear 0s infinite normal;
}

@keyframes glitter {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	25% {
		-webkit-transform: scale(0.5);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	75% {
		-webkit-transform: scale(0.5);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

.underline:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -10px;
	left: 0;
	background-color: #f5f5f5;
	transform-origin: center;
	transition: transform 0.5s ease-out;
}
.underline:hover:after {
	transform: scaleX(1);
	transform-origin: center;
}
/* <<<<<<< feature/Home-Page */

/* ABOUT US */

.about-us-container {
    height: 100%;
    margin-top: 70px
}

/* .about-us-team-text {
    
} */

.about-us-team-text-underline {
    background-color: blueviolet;
    width: 100%;
    height: 1px;
    margin: 20px 0 60px 0;
}

.about-us-team-member-flex {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 1209px;
    color: antiquewhite;
    justify-content: space-between;
}

.about-us-team-members-container {
    width: 30%;
}

.about-us-team-members-container:last-child{
    margin-top: 50px;
}

.about-us-team-member-name {
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}

.about-us-team-member-name p::first-letter {
    color:blueviolet;
    font-size: 200%;
}

.about-us-team-member-image {
    width: 100%;
    height: outo;
    text-align: center;
    margin: 40px 0;
}

.about-us-team-member-contacts p {
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 100;
    word-spacing: 10px;
    letter-spacing: 2px;
    margin: 10px 0;
    text-transform: capitalize;
}

.about-us-team-member-contacts > p::first-letter{
    font-size: 200%;
}

